*.user
*.cbp
Makefile
/build
/build*
/out
.vs
.cache
/nul
.claude
CMakeSettings.json

cmake-build*
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CMakeScripts

.idea

node_modules
test-results

IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
xcschememanagement.plist
*.xcscheme
.vscode
*.xcworkspace
*.DS_Store

workspace.xml
xcuserdata
node_modules/
