*.user
*.cbp
Makefile
/build
/build*
/out
.vs
.cache
/nul
CMakeSettings.json

cmake-build*
.clangd
/compile_commands.json
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CMakeScripts

.idea

node_modules
test-results

IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
xcschememanagement.plist
*.xcscheme
.vscode
*.xcworkspace
*.DS_Store

workspace.xml
xcuserdata
ExtraClangRules/plugin/build/
